/****************Embedded Fonts*************/
/*
font-family: 'Chilanka', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/****************Tag Selectors**************/
a {
  color: #222831;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Chilanka', cursive;
  font-size: 5.625rem;
  margin-bottom: 0;
  color: #393e46;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #393e46;
  font-weight: normal;
}


/****************Div Selectors**************/
.bolded {
  font-weight: bold;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  top: 340px;
}

.bottom_container {

}

.chilanka_font {
  font-family: 'Chilanka', cursive;
}

.float-left-img {
  float: left;
  margin-right: 30px;
}

.middle_container {

}

.no_margin {
  margin: 0;
}

.pad-down-50 {
  padding-top: 50px;
}

.profile-img {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  line-height: 2;
}

/*
.skill-row h3 {
  text-align: left;
}

.skill-row p {
  text-align: left;
}

.skills {
}
*/

.top_container {
  background-color: #32e0c4;
  padding-top: 50px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 360px;
  top: 75px;
}

/****************ID Selectors**************/
